body{
    background-image: url("../imagens/background-ceu.jpg");
}
#banner{
    background-image: url("../imagens/banner-agencia.png");
    min-height: 220px;
}

#menu{
    display: inline-flex;
    align-items: center;
    background-image: linear-gradient(to bottom,#77e5fd, #22CEF6);
    min-height: 40px;
    text-align: center;

}

#menu ul li{
    list-style: none;
    display: inline-flex;
    align-items: center;
}

#menu ul li a{
color: white;
text-decoration: none;
}

#menu ul li a:hover{
    color: black;
    font-size: 18px;
}

#col_esq{
    background-color:#22CEF6;
    min-height: 600px;
    color: red;
}

#central{
    background-color: #22CEF6;
    min-height: 600px;
    color: white;
}

#rodape{
    text-align: center;
    min-height: 150px;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #22CEF6,#99e8fa );
}

label {
    min-width: 50px;
}
textarea {
    width: inherit;
}

 .img-container img{

    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .img-container:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }