/* Estilos globais aplicados ao elemento <html> */
html {
  height: 100%; /* Define a altura do elemento html para ocupar 100% da altura da tela */
  background: #151f28; /* Cor de fundo escura para o site */
  display: grid; /* Utiliza o display grid para alinhar elementos internos */
  place-items: center; /* Centraliza os itens tanto horizontal quanto verticalmente dentro do elemento */
}

/* Estilos específicos para elementos com a classe .box */
.box {
  --border-size: 3px; /* Variável CSS para o tamanho da borda, facilitando ajustes futuros */
  --border-angle: 0turn; /* Variável CSS para o ângulo inicial do gradiente, usada na animação */
  width: 60vmin; /* Define a largura da caixa como 60% do menor valor entre largura e altura da viewport */
  height: 50vmin; /* Define a altura da caixa como 50% do menor valor entre largura e altura da viewport */
  background-image: conic-gradient(
      from var(--border-angle), /* Gradiente cônico começando do ângulo definido pela variável */
      #213, /* Cor inicial do gradiente */
      #112 50%, /* Cor intermediária no meio do gradiente */
      #213 /* Cor final, retornando à cor inicial */
    ),
    conic-gradient(
      from var(--border-angle), /* Outro gradiente cônico para efeito visual */
      transparent 20%, /* Inicia transparente para criar um efeito de "buraco" */
      #08f, /* Azul claro */
      #f03 /* Vermelho */
    );
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)), /* Tamanho do fundo ajustado para dentro das bordas */
    cover; /* O segundo gradiente cobre completamente */
  background-position: center center; /* Centraliza o background */
  background-repeat: no-repeat; /* Evita a repetição do background */
  animation: bg-spin 3s linear infinite; /* Animação que gira o gradiente */
}

/* Define a animação bg-spin */
@keyframes bg-spin {
  to {
    --border-angle: 1turn; /* Gira o gradiente em 360 graus */
  }
}

/* Efeito ao passar o mouse sobre a caixa */
.box:hover {
  animation-play-state: paused; /* Pausa a animação de giro */
}

/* Declaração da propriedade customizada --border-angle */
@property --border-angle {
  syntax: "<angle>"; /* Define o tipo de valor como ângulo */
  inherits: true; /* Permite herança do valor da propriedade */
  initial-value: 0turn; /* Valor inicial definido como 0turn */
}



/* Alexsander Barreto - https://alexholanda.com.br */