/* Reset básico para garantir consistência entre navegadores */
* {
    box-sizing: border-box; /* Faz com que padding e border sejam incluídos na largura e altura total dos elementos */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove as margens padrão */
}

/* Define altura total para a página */
html {
    height: 100%;
}

/* Estilos básicos do corpo da página */
body {
    font-family: 'Manrope', sans-serif; /* Define a fonte padrão para todo o corpo do documento */
    font-size: 16px; /* Tamanho padrão da fonte */
    height: 100%; /* Garante que o corpo ocupe a altura total da página */
}

/* Estilos para estruturar o layout usando grid */
.grid {
    display: grid; /* Habilita o layout de grid */
    grid-template-rows: 6rem 5rem auto 5rem; /* Define a altura das linhas do grid */
    grid-template-columns: 20% auto 20%; /* Define a largura das colunas do grid */
    font-size: 1.5rem; /* Tamanho da fonte para elementos dentro do grid */
    height: 100%; /* Altura total para preencher o corpo */
}

/* Ajustes de responsividade para telas menores */
@media (max-width: 480px) {
    .grid {
        grid-template-rows: 6rem 6rem 6rem auto 6rem 6rem; /* Adapta as linhas do grid para dispositivos móveis */
        grid-template-columns: 1fr; /* Colunas ocupam toda a largura disponível */
    }

    aside, main {
        grid-column: 1 / 4; /* Faz com que aside e main ocupem todas as colunas disponíveis */
    }
}

/* Estilos para elementos de navegação, cabeçalho e rodapé */
nav, header, footer {
    background: #F6C356; /* Cor de fundo */
    grid-column: 1 / 4; /* Ocupa todas as colunas do grid */
    display: flex; /* Usa flexbox para alinhamento interno */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

/* Cor de fundo específica para o nav */
nav {
    background: #AAEC8A;
}

/* Estilos para os elementos laterais e principal */
aside, main {
    display: flex; /* Usa flexbox para alinhamento interno */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

/* Cor de fundo para o aside */
aside {
    background: #99C2FE;
}

/* Cor de fundo para o main */
main {
    background: #B881FF;
}
