body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    font-family: 'Times New Roman', Times, serif;
  }
  .container {
    display: flex;
    justify-content: space-around;
  }
  .button {
    transition: background-color 0.5s ease;
  }
  
  .button:hover {
    background-color: green;
  }
  @media (max-width: 600px) {
    body {
      background-color: lavender;
    }
  }
        